@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/lato-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v20-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/lato-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v20-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.woff?y6s712') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-csv:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
.icon-pdf:before {
  content: "\e902";
}
.icon-download:before {
  content: "\e903";
}
.icon-play:before {
  content: "\e904";
}
.icon-down:before {
  content: "\f0d7";
}
.icon-cloud:before {
  content: "\e905";
}


html, body, .wrapper {
  height: 100%;
  margin: 0;
}

body {
  font: 14px/1.4 "Lato", sans-serif;
  /* font-size, line-height, font-family */
}
* {
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

.container{
  width: 1105px;
  margin: 0 auto;
}

.banner_bg{
    width: 100%;
    min-height: 100%;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%),
    url(../img/header-bg.jpg) 0 0 / cover;
}

.header{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 50px 0;
    width: 1105px;
    color: white;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo_text{
    font-family: Lato;
    font-weight: bold;
    font-size: 18px;
    margin-left: 8px;
    text-transform: uppercase;
}

.icon-cloud{
    font-size: 28px;
}

.nav_link{
    margin: 0 auto;
}

.nav_item{
    margin: 0 18px;
    font-family: Lato;
    font-size: 14px;
    text-transform: uppercase;
    transition: .4s;
}

.nav_item:hover{
    font-weight: 700;
    border-bottom: 1px solid #fff;
}

.nav_item.active{
    font-weight: 700;
}

.lang{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 26px;
}

.lang_name{
    margin: 0 10px;
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
}

.icon-down{
    font-size: 22px;

}

.btn{
    display: inline-block;
    cursor: pointer;
    font-family: Lato;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: unset;
    transition: .4s;
}

.btn:hover{
    background-color: #fff;
    color: rgba(213, 32, 71, 0.8);
    transition: .4s;
}

.hero{
    text-align: center;
    width: 1105px;
    margin: 150px auto;
    color: white;
}

.hero_title{
    font-family: Lato;
    font-weight: bold;
    font-size: 72px;
    margin-top: 0;
    margin-bottom: 40px;
    line-height: 86px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.hero p{
    font-family: Lato;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 40px;
}

.button{
    display: inline-block;
    padding: 17px 52px;
    background-color: #fff;
    border-radius: 5px;
    font-family: Lato;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #ED4C5C;
    transition: .4s;
    border: 1px solid #fff;
    margin-bottom: 150px;
}

.button:hover{
    background-color: unset;
    color: #fff;
    border: 1px solid #fff;
}

.video{
  width: 1105px;
  margin: 0 auto;
    display: flex;
    min-height: 500px;
    align-items: center;
}

.title{
    font-family: Lato;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    margin-top: 0;
    margin-bottom: 40px;
    color: #000000;
}


.video_text , .video_bg{
  margin: 0 auto;
}


.video_text p{
    font-family: Lato;
    font-size: 14px;
    line-height: 140%;
    margin-top: 0;
    margin-bottom: 40px;
    color: #000000;
}

.video_btn{
    font-family: Lato;
    font-size: 14px;
    line-height: 140%;
    color: #ED4C5C;
}

.video_bg{
  display: flex;
  align-items: center;
}

.icon-play{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  position: relative;
  left: 33px;
  color: #fff;
  width: 66px;
  border-radius: 50%;
  border: 2px solid #ED4C5C;
  height: 66px;
  background: #ED4C5C;
  transition: .4s;
}

.icon-play:hover{
  background: unset;
  color: #ED4C5C;
}

.feature{
  text-align: center;
  min-height: 660px;
  background-color: #fafafa;
}

.fea_title{
  padding-top: 65px;
}

.fea_cards{
  display: flex;
  margin: 60px auto;
}

.fea_card{
  margin: 0 10px;
}

.card_content{
  position: relative;
  margin: -100px auto;
  padding: 33px 32px;
  width: 293px;
  height: 198px;
  background: #FFFFFF;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card_title{
  font-family: Lato;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #101010;
  margin-top: 0;
  margin-bottom: 20px;
}

.para_card{
  font-family: Lato;
  font-size: 12px;
  line-height: 150%;
  color: #101010;
  margin-bottom: 25px;
}

.fea_btn{
  font-family: Lato;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  color: #ED4C5C;
  cursor: pointer;
}

.techno{
  width: 1105px;
  min-height: 500px;
  margin: 0 auto;
}

.techno_title{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.bg_num{
  margin: 0;
  font-family: Lato;
  font-weight: bold;
  font-size: 100px;
  color: rgba(16, 16, 16, 0.08);
}

.title_sec{
  margin: 0;
  font-family: Lato;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #101010;
}

.techno_secure{
  position: relative;
  margin: -60px 0;
}

.techno_secure p{
  font-family: Lato;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.techno_content{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.techno_info{
  margin: 0 auto;
  text-align: center;
}

.icon{
  font-size: 50px;
  color: #ED4C5C;
}

.apps{
  background-color: #ED4C5C;
  width: 100%;
  min-height: 500px;
}

.apps_content{
  padding-top: 120px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.app_title{
  font-family: Lato;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 40px;
}

.apps_info p{
  font-family: Lato;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 40px;
}

.apps_info .slider{
  width: 50%;
}

.app_icon{
  display: inline-block;
  align-items: center;
  margin-left: 23px;
}

.contact{
  min-height: 500px;
  display: flex;
  width: 1105px;
  margin: 0 auto;
}

.contact_content{
  display: flex;
  margin: 110px auto;
}

.contact_title{
  margin: 0;
  font-family: Lato;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
  margin-bottom: 60px;
}

.contact_text p{
  font-family: Lato;
  font-size: 14px;
  line-height: 140%;
  color: #000000;
}

.contact_form{
  align-items: center;
  margin-left: 115px;
}

.first_name, .last_name{
  display: inline-block;
  padding: 20px 30px;
  border: 1px solid #333333;
  border-radius: 6px;
  margin-right: 30px;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 25px;
}

.first_name::-webkit-input-placeholder{
  color: rgba(19, 39, 67, 0.5);
}

.last_name::-webkit-input-placeholder{
  color: rgba(19, 39, 67, 0.5);
}

.number::-webkit-input-placeholder{
  color: rgba(19, 39, 67, 0.5);
}

.number{
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 6px;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  width: 505px;
}

.number_input{
  margin-bottom: 25px;
}

.select{
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px; 
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 6px;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  color: rgba(19, 39, 67, 0.5);
  width: 505px;
  margin-bottom: 25px;
}

.submit{
  padding: 17px 35px;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #ED4C5C;
  border: 1.5px solid #ED4C5C;
  box-sizing: border-box;
  border-radius: 6px;
  transition: .4s;
}

.submit:hover{
  color: #ED4C5C;
  background: unset;
}

.footer{
  min-height: 435px;
  background-color: #fafafa;
  padding: 85px 0;
}

.footer_content{
  display: flex;
  justify-content: space-between;
}

.footer_title{
  font-family: Lato;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #101010;
  margin: 0;
  margin-bottom: 33px;
}
.footer_list{
  padding: 0;
  margin: 0;
}

.footer_info{
  list-style-type: none;
  font-family: Lato;
  font-size: 12px;
  line-height: 150%;
  color: #101010;
  margin: 0;
  margin-bottom: 10px;
}

.footer_icon i{
  font-family: fontawesome !important;
  font-size: 14px;
  color: #101010;
  margin-right: 12px;
}

.footer_bottom{
  font-family: Lato;
  font-size: 12px;
  line-height: 14px;
  color: #101010;
  position: relative;
  top: 85px;
}